* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

html.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  height: 100vh;
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 580px;
  margin: 56px auto 0;
  padding: 0 20px;
}

/* Prolife */

#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  display: block;
  margin: auto;
  width: 112px;
  height: 112px;
}

#profile p {
  margin-top: 8px;
  line-height: 24px;
}

/* switch */

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #ffffff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: slide-dark 0.6s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}
.light #switch button {
  animation: slide-light 0.6s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 9999px;
}

/* LINKS */

ul {
  gap: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-link {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-link a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* Media queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  html.light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */

@keyframes slide-light {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-dark {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
